<app-toolbar icon="document_scanner" title="Document Scanner"></app-toolbar>
<app-subnavbar></app-subnavbar>
<app-card>
    <app-card-header title="Select User" instruction="Please choose a user: Select either 'Staff' or 'User Customer' by clicking on the respective option to proceed." ></app-card-header>
    <div class="radio-container">
      <label for="userA">
      <input type="radio" id="userB" name="user" value="Staff" [(ngModel)]="selectedUser">Staff</label>
      <label for="userB">
      <input type="radio" id="userB" name="user" value="Customer" [(ngModel)]="selectedUser">Customer</label>
    </div>
    
    <div class="button">
    <app-button (click)="proceed()"routerLink="web-capture" title="Proceed"></app-button>
  </div>
</app-card>