.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  
    video {
      margin-bottom: 10px;
    }
  
    button {
      margin-bottom: 20px;
    }
    
    
  }


  