
<div class="toolbar" role="banner">
    <!-- <img width="40" alt="Angular Logo" src="../assets/icon2.png" /> -->

    <div class = "button-container">
    <div class = buttons>
      <a mat-button routerLink="/register">Register</a> 

      <a mat-button routerLink="/login">Login</a>
    </div>
    </div>
  </div>
  
<div class="body">
    <h1>QR Scanner:Welcome to your QR Scanner</h1>
    <p>

     
    Unleash instant QR code scanning with our app, delivering swift and accurate results for decoding links, contacts, and product details through your device's camera.
    
    </p>

    <mat-button routerLink= '/register' class="get-started-button" mat-button>Get Started

  
    
<footer>
      <!-- Footer content goes here -->
</footer>
  
  