
<div class="toolbar" role="banner">
    <!-- <img width="40" src="/src/assets/qr-code.png" /> -->

    <div class = "button-container">
    <div class = buttons>
      <a mat-button routerLink="/scanner">Document scanner</a> 

      <a mat-button routerLink="/generator">QR generator</a>
    </div>
    </div>
  </div>
  
<div class="body">
    <h1>QR Scanner:Welcome to your QR Generator and Document Scanner</h1>
    <p>

     
    Unleash instant QR code scanning with our app, delivering swift and accurate results for decoding links, contacts, and product details through your device's camera.
    
    </p>

    <app-button routerLink="qrscanner" title="Get Started"></app-button>
      

  
    
<footer>
      <!-- Footer content goes here -->
</footer>
  
  